<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Pipes</h3>
        </div>
        <div class="panel-body">
            <list [personList]="pList"></list>

            <h2>{{name}}</h2>
            <h2>{{name | uppercase}}</h2>
            <h2>{{name | capitalize}}</h2>
            <h2>{{name}}</h2>

            <h2>{{today}}</h2>
            <h2>{{today | date}}</h2>
            <h2>{{today | date:'shortTime'}}</h2>
            <h2>{{today | date:'shortDate'}}</h2>
            <h2>{{today | date:'fullDate'}}</h2>

            <h2>{{today | date:format}}</h2>
            <button (click)="handleClick()">Toggle</button>
        </div>
    </div>
</div>