nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Node Monk App
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li
          a(href='/users') Users
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#')
            span.glyphicon.glyphicon-user
            |  Sign Up
        li
          a(href='/login')
            span.glyphicon.glyphicon-log-in
            |  Login