extends ../layout

block content
    h1= title
    if message.length
        div.alert.alert-info= message
    h3.text-danger Are you sure you want to delete this?
    div
        h4 User
        hr
        dl.dl-horizontal
            dt Username
            dd= user.username
            dt Email
            dd= user.email
        div
            form(method="post")
                button.btn.btn-default(type='submit') Delete 
                |  | &nbsp  
                a(href="/users") Back to Users