<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Assignment One</h4>
    </div>
    <div class="panel-body">
        <div class="well well-sm">
            <p class="text-info">{{terms}}</p>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]=flag>Accept Terms</label>
        </div>
        <div class="panel-footer">
            <button class="btn btn-success" [disabled]=!flag>Next</button>
        </div>
    </div>
</div>